body {
font-family:'Microsoft Yahei';
background-color:#000;
margin:0;
padding:0;
}

ul {
text-align: center;
}

header {
width:100%;
height:100px;
background-color:#bbb;
text-align:center;
}

header p {
margin-top:0;
font-size:40px;
}

.contain {
width:100%;
height:700px;
}

.places {
height:auto;
background-color:#000;
}

.places p {
margin:5px 0;
}

input {
width:100%;
font-size:30px;
border-top:2px solid #FFF;
border-bottom:2px solid #FFF;
}

#items {
display: block;
margin-top: 20px;
height: 50px;
border:2px solid #FFF;
}

.place-items {
height:30px;
font-size:20px;
list-style:none;
color:#FFF;
cursor:pointer;
margin:2px;
}

#items:hover {
border:2px solid blue;
}

.place-items span {
color: white;
}

.information {
color:#FFF;
}

.information li {
list-style:none;
}

.information a {
text-decoration:none;
font-size:20px;
color:#FFF;
}

.information a:hover {
color:blue;
}

#map {
height:40%;
}

@media screen and min-width 900px{
header p {
font-size:60px;
}

.places {
width:30%;
height:100%;
float:left;
}

#map {
width:40%;
height:100%;
float:left;
}

.information {
width:30%;
float:left;
}
}